html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header-bar {
  background:linear-gradient(135deg, #14ffe9,#ffeb3b,#ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 2.5s linear infinite;

  border-top: 4px solid;
  border-image-source: linear-gradient(90deg, #10a2f5, #eb4888 50%, #24d05a, #e9bc3f, #d32e9d);
  border-image-slice: 1;

}
  
@keyframes animate{
  100%{
      filter: hue-rotate(360deg);
  }
}